<h2 mat-dialog-title>{{tituloAccion}}</h2>

<mat-dialog-content>
    <form   [formGroup]="formularioHeoes" >
        <mat-grid-list cols="1" rowHeight="100px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput autocomplete="off" formControlName="nombre" name="info.nombre">
                    <samp *ngIf="formularioHeoes.get('nombre')?.hasError('required') && formularioHeoes.get('nombre')?.touched "  class="form-floating text-danger errorLabel"> El <strong class="text-danger">nombre</strong> es requerido</samp>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Seudonimo</mat-label>
                    <input matInput autocomplete="off" formControlName="seudonimo" name="info.seudonimo" >
                    <samp *ngIf="formularioHeoes.get('seudonimo')?.hasError('required') && formularioHeoes.get('seudonimo')?.touched "  class="form-floating text-danger errorLabel"> El <strong class="text-danger">seudonimo</strong> es requerido</samp>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Poder</mat-label>
                    <input matInput autocomplete="off" formControlName="Poder" name="info.Poder" >
                    <samp *ngIf="formularioHeoes.get('Poder')?.hasError('required') && formularioHeoes.get('Poder')?.touched "  class="form-floating text-danger errorLabel"> El <strong class="text-danger">poder</strong> es requerido</samp>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary"
        [disabled]="formularioHeoes.invalid"
        (click)="guardarEditar_Heroe(id)"
    >{{botonAccion}}</button>
</mat-dialog-actions>